<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>

    {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" roles="alert">
            <strong>Message: {{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
        <h2>Hello {{name}}</h2>
        <p>You are currently logged in!</p>
        <button type="submit"><a href="/sign_out/">SignOut</a></button>
    {% else %}
        <p>You are NOT logged in!</p>
        <button type="submit"><a href="/register/"></a></button>
        <button type="submit"><a href="/sign_in/"></a></button>
    {% endif %}
</body>
</html>