{% extends 'base_authentication/base.html' %}

{% block content %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success my-2 p-3" role="alert">
                <strong  style="font-size: 20px;">Success:</strong>
                <p style="font-size:18px;">
                    {{ message }}<br>
                </p>
            </div>
        {% elif message.tags == 'info'%}
            <div class="alert alert-danger my-2 p-3" role="alert">
                <strong  style="font-size: 20px;">Error:</strong>
                <p style="font-size:18px;">
                    {{ message }}<br>
                </p>
            </div>
        {% endif %}
    {% endfor %}

    <h1 class="text-center">Login</h1>

    <form class="needs-validation" action="" method="POST">
        {% csrf_token %}

        <div class="form-group was-validated">
            <label class="form-label" for="username">Username:</label>
            <input class="form-control" name="username" type="text" id="username" required>
        </div>

        <div class="form-group was-validated">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" name="password" type="password" id="password" required>
        </div>

        <div class="form-group form-check">
            <input class="form-check-input" type="checkbox" name="remember_me" id="check">
            <label class="form-check-label" for="check">Remember me</label>
        </div>

        <div class="form-group was-validated">
            <div>
                Don't have an account?
                <a href="{% url 'register' %}">Sign up</a>
            </div>
        </div>
        <div class="form-group was-validated">
            <div>
                <a href="{% url 'reset_password' %}">Forgot password?</a>
            </div>
        </div>
        {% csrf_token %}
        <input class="btn btn-success w-100" type="submit" value="SIGN IN">
        <a style="margin-top: 10px; background-color: #202528; color: #fff;" class="btn w-100" href="{% url 'index' %}" class="">RETURN HOME</a>
    </form>
{% endblock %}