{% extends 'base_authentication/base.html' %}

{% block content %}
    <h1 class="text-center">Register</h1>

    <form class="needs-validation" action="" method="POST">
        <div class="form-group">
            <label class="form-label" for="first_name">First Name:
                <span class="restrict">(not required)</span>
            </label>
            {{form.first_name}}
        </div>

        <div class="form-group">
            <label class="form-label" for="last_name">Last Name:
                <span class="restrict">(not required)</span>
            </label>
            {{form.last_name}}
        </div>

        <div class="form-group was-validated">
            <label class="form-label" for="username">Username:</label>
            {{form.username}}
        </div>

        <div class="form-group was-validated">
            <label class="form-label" for="email">Email:</label>
            {{form.email}}
        </div>

        <div class="form-group was-validated">
            <label class="form-label" for="password1">Password:</label>
            {{form.password1}}
        </div>

        <div class="form-group was-validated">
            <label class="form-label" for="password2">Confirm Password:</label>
            {{form.password2}}
        </div>

        {% for field, error in form.errors.items %}
            <div class="alert alert-danger my-2 p-1" role="alert">
                {{ error|striptags }}
            </div>
        {% endfor %}

        {% for message in messages %}
            <div class="alert alert-danger my-2 p-1" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="form-group">
            <label>
                <input type="checkbox" name="privacy_policy">
                I accept the <a href="https://www.termsfeed.com/live/ec0fc186-0bcd-41ec-873c-36720133731f"
                    target="_blank">Privacy Policy</a>
            </label>
        </div>

        <div class="form-group was-validated">
            <div>
                Already have an account?
                <a href="{% url 'sign_in' %}">Sign in</a>
            </div>
        </div>

        <input class="btn btn-success w-100" type="submit" value="SIGN UP">
        {% csrf_token %}
    </form>
{% endblock %}