*.vscode
*.pyc
*.pem
METADATA
RECORD
WHEEL
INSTALLER
AUTHORS
*.mo
*.po
*.pyi
*.vscode
*.typed
*.pyd
*.exe
*.jpg
*.png
*.env
*.json
*.gz
*.eot
*.ttf
*.
djangoenvironent/
/djangoenvironment/