:root {
  --background-color: #ecf1f4;
  --form-background: #3e3d3d;
  --white: #fff;
  --button-color: #bac675;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

.form-wrap {
  width: 320px;
  background: var(--form-background);
  padding: 40px 20px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  color: var(--white);
  font-weight: normal;
  margin-bottom: 20px;
}

input {
  width: 100%;
  background: none;
  border: 1px solid var(--white);
  border-radius: 3px;
  padding: 6px 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--white);
}

input[type="submit"] {
  background: var(--button-color);
  border: 0;
  cursor: pointer;
  color: var(--form-background);
}

label {
  color: rgb(154, 154, 154);
}

input[type="submit"]:hover {
  background: var(--button-color);
  transition: 0.6s;
}

::placeholder {
  color: #fff;
}

