{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success my-2 p-3" role="alert">
    <strong style="font-size: 20px;">Success:</strong>
    <p style="font-size:18px;">
        {{ message }}<br>
    </p>
</div>
{% endif %}
{% endfor %}

<!-- Header Start -->
<div class="container-fluid header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">Unlock <span class="text-primary">The Door </span>For
                Your <span class="text-primary"> Rental Score</span>!</h1>
            <p class="animated fadeIn mb-4 pb-2">Discover your dream home with our extensive range of rental properties.
                Whether you're looking for a cozy apartment, a spacious house, or a luxurious villa,
                we've got the perfect rental options to suit your needs.</p>
            <a href="{% url 'property_list' %}" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
        </div>
        <div class="col-md-6 animated fadeIn">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'images/carousel-1.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'images/carousel-2.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'images/bedrooms.jpg' %}" alt="">
                </div>
                <div class="owl-carousel-item">
                    <img class="img-fluid" src="{% static 'images/about.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Property Types Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">Property Types</h1>
            <p>Our property rental marketplace offers a diverse selection of top-notch properties to suit your every
                need.
                Explore some of our enticing range of properties and let us help you find your dream home!
            </p>
        </div>
        <div class="row g-4">
            {% for property_type, count in property_type_counts.items %}
            {% if property_type != 'Building' %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3"
                    href="{% url 'list_properties' property_type %}?property_type={{ property_type }}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            {% if property_type == 'Apartment' %}
                                <img style="width: 50px;" class="img-fluid" src="{% static 'images/apartment.png' %}" alt="Icon">
                            {% elif property_type == 'Villa'%}
                                <img style="width: 50px;" class="img-fluid" src="{% static 'images/villa.png' %}" alt="Icon">
                            {% elif property_type == 'Shop'%}
                                <img style="width: 50px;" class="img-fluid" src="{% static 'images/shop.png' %}" alt="Icon">
                            {% elif property_type == 'Office' %}
                                <img style="width: 50px;" class="img-fluid" src="{% static 'images/office.png' %}" alt="Icon">
                            {% endif %}
                        </div>
                        <h6>{{ property_type }}</h6>
                        <span>{{ count }} Properties</span>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Property Types End -->


<!-- Introduction Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="{% static 'images/about.jpg' %}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4" style="color: #fff;">#1 Place To Find The Perfect Property</h1>
                <p class="mb-4">Discover the ultimate property rental experience at our premier marketplace.
                    We take pride in offering you an unparalleled selection of top-notch properties that will leave you
                    astounded.
                    Let us guide you through the journey of finding your dream home!
                </p>
                <p><i class="fa fa-check text-primary me-3"></i>Explore a wide range of properties, filter preferences,
                    and find your dream home effortlessly.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Choose from city apartments to oceanfront villas, each
                    with unique features and amenities.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Our team ensures exceptional service, answers questions,
                    and assists with property tours.</p>
                <p><i class="fa fa-check text-primary me-3"></i>We understand your specific needs and offer personalized
                    property recommendations to match your lifestyle and preferences.</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'about' %}">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Introduction End -->

<!-- Contact to Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded p-3">
            <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, .3)">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <img class="img-fluid rounded w-100" src="{% static 'images/support.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <div class="mb-4">
                            <h1 class="mb-3" style="color: #fff;">Contact With Our Support For Further Questions</h1>
                            <p>For professional and reliable assistance, our certified agents are here to help. With
                                their expertise and in-depth knowledge, they'll guide you through the process and ensure
                                you find the perfect property that meets your needs. Don't hesitate – get in touch with
                                us now!</p>
                        </div>
                        <a href="{% url 'contacts' %}" class="btn btn-primary py-3 px-4 me-2"><i
                                class="fa fa-phone-alt me-2"></i>Make A
                            Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact to Action End -->


<!-- Owner Start -->
<div id="owner" class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">RentWise Owner</h1>
            <p>
                At "RentWise," our commitment to revolutionizing the rental experience is fueled by the passion and
                dedication of our founder, Alexander. With a deep understanding of the real estate landscape and a
                drive for innovation, Alexander has paved the way for a new era of renting convenience and
                transparency.

                Meet Alex:

                Alexander Dimov is a seasoned expert in the real estate industry, boasting 10+ years of experience in
                real estate marketing. His visionary leadership has guided "RentWise" to become a trusted name in the
                market, known for its customer-centric approach and cutting-edge solutions.</p>
        </div>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid border" src="{% static 'images/cv_image.jpg' %}" alt="">
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square mx-1" target="_blank" href="https://www.facebook.com/alex.dimov.501/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" target="_blank" href="https://twitter.com/elenaultras?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" target="_blank" href="https://www.instagram.com/dimanou_/?hl=bg"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Alexander Dimov</h5>
                        <small style="color: #fff;">Owner</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Owner End -->


<!-- Comments Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">Our Clients Say!</h1>
            <p>Don't just take our word for it. Here's what our valued clients have to say about their experience with
                us:</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for com in comments %}
                <div class="testimonial-item bg-light rounded p-3">
                    <div class="bg-white border rounded p-4">
                        <p>{{com.comment}}</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="{{ com.user_profile.profile_image.url }}"
                                style="width: 45px; height: 45px;">
                            <div class="ps-3">
                                <small>{{com.user_profile}} - {{com.profession}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <a style="margin-top: 20px;" class="btn btn-primary py-3 px-5 mt-3" href="{% url 'comments' %}">Leave a comment</a>
        {% else %}
            <a style="margin-top: 20px;" class="btn btn-primary py-3 px-5 mt-3" id="save_but_login" href="#">Leave a comment</a>
            {% include 'profiles/profile_create_account_pop_up.html' %}
        {% endif %}
    </div>
</div>
<!-- Comments End -->
{% endblock %}
</body>

</html>