{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3" style="color: #202528;">Subscribe to our newsletter <br>
                for the latest news</h1>
                <p>Don't miss out on the latest updates, news, and exclusive offers! Subscribe to our newsletter and be the first to know about exciting developments, upcoming events, and valuable insights.</p>
            </div>
        </div>
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                {% include 'newsletter/newsletter_email_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}