{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">Create a Property Offer</h1>
            <p>To move forward with your offer, simply click the "Create" button below. By doing so, you're taking the first step by inroducing your property to others.</p>
            {% for message in messages %}
                <div class="alert alert-danger my-2 p-3" role="alert">
                    <strong  style="font-size: 20px;">Error:</strong>
                    <p style="font-size:18px;">
                        {{ message }}<br>
                    </p>
                </div>
            {% endfor %}
            {% for field, error in form.errors.items %}
                <div class="alert alert-danger my-2 p-3" role="alert">
                    <strong  style="font-size: 20px;">Error:</strong>
                    <p style="font-size:18px;">
                        {{ error|striptags }}<br>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="emailSignup">
        <h2>Start creating and don't delay,</h2>
        <p>Your property offer, come what may.
            With confidence and a touch of flair,
            Seize this chance, make it yours to bear!</p>
    
        <div class="emailSignup--form">
            <a style="background-color: #dea205;" type="submit" class="btn btn-dark border-0 w-100 py-3" onclick="toggleForm()">Create</a>
        </div>
    </div>

    <style>
        .emailSignup {
            display: block;
            background: #202528;
            width: 50%;
            margin: 0 0 20px;
            position: relative;
            box-sizing: border-box;
            padding: 40px;
            text-align: center;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -2%);
        }
    
        .emailSignup h2 {
            font-size: 32px;
            margin: 0 0 10px;
            color: #FFFFFF;
        }
    
        .emailSignup p {
            font-size: 20px;
            line-height: 1.4;
            margin: 0 0 20px;
            color: #D3D3D3;
        }
    
        .emailSignup form {
            text-align: center;
        }
    
        .emailSignup--email-input {
            border: 0;
            outline: 0;
            width: 50%;
            height: 46px;
            line-height: 46px;
            padding: 5px 20px;
            box-sizing: border-box;
            font-size: 18px;
            border-radius: 3px;
        }
    
        .emailSignup--email-submit {
            position: relative;
            top: 3px;
            border: 0;
            width: 28%;
            height: 46px;
            line-height: 46px;
            font-size: 22px;
            font-weight: bold;
            background: #dea205;
            color: #FFFFFF;
            border-radius: 3px;
            text-transform: uppercase;
            text-shadow: 0 0 1px #0084DB;
        }
    
        .closeBox {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            background: #fff;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
            font-size: 16px;
            border-radius: 9999px;
            cursor: pointer;
        }
    </style>

    {% include 'properties/property_pop_up_form.html' %}
{% endblock %}