{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success my-2 p-3" role="alert">
                    <strong style="font-size: 20px;">Success:</strong>
                    <p style="font-size:18px;">
                        {{ message }}<br>
                    </p>
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger my-2 p-3" role="alert">
                    <strong style="font-size: 20px;">Error:</strong>
                    <p style="font-size:18px;">
                        {{ message }}<br>
                    </p>
                </div>
            {% endif %}
        {% endfor %}

        <section class="view-property">
            <div class="details">
            <div class="thumb">
                <div class="big-image">
                    <img src="{{property.images.url}}" alt="">
                    {% if user.is_authenticated %}
                        {% if property.property_state == 'For Rent' %}
                            <a style="background-color: rgb(74, 175, 74); border-color: rgb(74, 175, 74); font-size: 20px;" class="btn btn-primary py-3 px-5 mt-3" id="proceed" href="#">Rent</a>
                        {% else %}
                            <a style="background-color: rgb(74, 175, 74); border-color: rgb(74, 175, 74); font-size: 20px;" class="btn btn-primary py-3 px-5 mt-3" id="proceed" href="#">Buy</a>
                        {% endif %}

                        {% include 'payments/payment_popup.html' %}
                    {% else %}
                        {% if property.property_state == 'For Rent' %}
                            <a id="save_but_login" style="background-color: rgb(74, 175, 74); border-color: rgb(74, 175, 74); font-size: 20px;" class="btn btn-primary py-3 px-5 mt-3" href="#">Rent</a>
                        {% else %}
                            <a id="save_but_login" style="background-color: rgb(74, 175, 74); border-color: rgb(74, 175, 74); font-size: 20px;" class="btn btn-primary py-3 px-5 mt-3" href="#">Buy</a>
                        {% endif %}

                        {% include 'profiles/profile_create_account_pop_up.html' %}
                    {% endif %}
                </div>
            </div>
            <h3 class="name">{{property.title}}</h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i><span>{{property.location}}</span></p>
            <div class="info">
                <p><i class="fas fa-home"></i><span>{{property.property_type}}</span></p>
                <p><i class="fas fa-tag"></i><span>{{property.property_state}}</span></p>
                <p><i class="fas fa-dollar-sign"></i><span>{{property.price}}</span></p>
                <p><i class="fas fa-user"></i><span>{{ property.owner.username }}</span></p>
                <p><i class="fas fa-calendar"></i><span>{{ property.created_at|date:"F d, Y" }}</span></p>
                {% if property.from_date and property.to_date %}
                    <p><i class="fas fa-pen"></i><span>Booked from: {{ property.from_date|date:"F d, Y" }} - To: {{ property.to_date|date:"F d, Y" }}</span></p>
                {% endif %}
                <p><i class="fas fa-phone"></i><a href="#" id="contactLink">Contacts</a></p>
                {% include 'profiles/profile_contacts_pop_up.html' %}
            </div>
            <h3 class="title">Details</h3>
            {% if property.property_type == 'Apartment' %}
                <div class="flex">
                    <div class="box">
                        <p><i>Number Of Bedrooms:</i><span>{{ property.apartment.num_bedrooms }}</span></p>
                        <p><i>Number Of Bathrooms:</i><span>{{ property.apartment.num_bathrooms }}</span></p>
                    </div>
                    <div class="box">
                        <p><i>Area in Square Foot:</i><span>{{ property.apartment.area_sqft }}</span></p>
                        <p><i>Floor Number:</i><span>{{ property.apartment.floor_number }}</span></p>
                    </div>
                </div>
                <h3 class="title">Extras</h3>
                <div class="flex">
                    <div class="box">
                        {% if property.apartment.has_balcony %}
                            <p><i class="fas fa-check"></i><span>Balcony</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Balcony</span></p>
                        {% endif %}

                        {% if property.apartment.is_furnished %}
                            <p><i class="fas fa-check"></i><span>Furnished</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Furnished</span></p>
                        {% endif %}
                    </div>
                    <div class="box">
                        {% if property.apartment.has_air_conditioning %}
                            <p><i class="fas fa-check"></i><span>A/C</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>A/C</span></p>
                        {% endif %}

                        {% if property.apartment.garage %}
                            <p><i class="fas fa-check"></i><span>Garage</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Garage</span></p>
                        {% endif %}
                    </div>
                </div>
                <h3 class="title">Description</h3>
                <p class="description">{{ property.apartment.description }}</p>
            {% elif property.property_type == 'Villa' %}
                <div class="flex">
                    <div class="box">
                        <p><i>Number Of Bedrooms:</i><span>{{ property.villa.num_bedrooms }}</span></p>
                        <p><i>Number Of Bathrooms:</i><span>{{ property.villa.num_bathrooms }}</span></p>
                    </div>
                    <div class="box">
                        <p><i>Area in Square Foot:</i><span>{{ property.villa.area_sqft }}</span></p>
                    </div>
                </div>
                <h3 class="title">Extras</h3>
                <div class="flex">
                    <div class="box">
                        {% if property.villa.has_garden %}
                            <p><i class="fas fa-check"></i><span>Garden</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Garden</span></p>
                        {% endif %}
                    </div>
                    <div class="box">
                        {% if property.villa.has_pool %}
                            <p><i class="fas fa-check"></i><span>Pool</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Pool</span></p>
                        {% endif %}
                    </div>
                </div>
                <h3 class="title">Description</h3>
                <p class="description">{{ property.villa.description }}</p>
            {% elif property.property_type == 'Office' %}
                <div class="flex">
                    <div class="box">
                        <p><i>Number Of Rooms:</i><span>{{ property.office.num_rooms }}</span></p>
                        <p><i>Area in Square Foot:</i><span>{{ property.office.area_sqft }}</span></p>
                    </div>
                    <div class="box">
                        <p><i>Floor Number:</i><span>{{ property.office.floor_number }}</span></p>
                    </div>
                </div>
                <h3 class="title">Extras</h3>
                <div class="flex">
                    <div class="box">
                        {% if property.office.has_parking %}
                            <p><i class="fas fa-check"></i><span>Parking</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Parking</span></p>
                        {% endif %}
                    </div>
                    <div class="box">
                        {% if property.office.has_lift %}
                            <p><i class="fas fa-check"></i><span>Elevator</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Elevator</span></p>
                        {% endif %}
                    </div>
                </div>
                <h3 class="title">Description</h3>
                <p class="description">{{ property.office.description }}</p>
            {% elif property.property_type == 'Shop' %}
                <div class="flex">
                    <div class="box">
                        <p><i>Area in Square Foot:</i><span>{{ property.shop.area_sqft }}</span></p>
                    </div>
                </div>
                <h3 class="title">Extras</h3>
                <div class="flex">
                    <div class="box">
                        {% if property.shop.has_ac %}
                            <p><i class="fas fa-check"></i><span>A/C</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>A/C</span></p>
                        {% endif %}
                    </div>
                    <div class="box">
                        {% if property.shop.has_cctv %}
                            <p><i class="fas fa-check"></i><span>CCTV</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>CCTV</span></p>
                        {% endif %}
                    </div>
                </div>
                <h3 class="title">Description</h3>
                <p class="description">{{ property.shop.description }}</p>
            {% elif property.property_type == 'Building' %}
                <div class="flex">
                    <div class="box">
                        <p><i>Number Of Floors:</i><span>{{ property.building.num_floors }}</span></p>
                    </div>
                    <div class="box">
                        <p><i>Total Area In Square Foot:</i><span>{{ property.building.total_area_sqft }}</span></p>
                    </div>
                </div>
                <h3 class="title">Extras</h3>
                <div class="flex">
                    <div class="box">
                        {% if property.building.has_lift %}
                            <p><i class="fas fa-check"></i><span>Elevator</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Elevator</span></p>
                        {% endif %}
                    </div>
                    <div class="box">
                        {% if property.building.has_parking %}
                            <p><i class="fas fa-check"></i><span>Parking</span></p>
                        {% else %}
                            <p><i class="fas fa-times"></i><span>Parking</span></p>
                        {% endif %}
                    </div>
                </div>
                <h3 class="title">Description</h3>
                <p class="description">{{ property.building.description }}</p>
            {% endif %}
            <div class="action-buttons">
                {% if user.is_authenticated  %}
                    {% if property_saved %}
                        <form action="{% url 'unsave_property' pk=property.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Unsave Property" name="unsave" class="inline-btn btn-unsave">
                        </form>
                    {% else %}
                        <form action="{% url 'save_property' pk=property.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Save Property" name="save" class="inline-btn btn-save">
                        </form>
                    {% endif %}

                    {% if user.username == property.owner.username or user.is_staff %}   
                        <a href="{% url 'property_update' pk=property.pk %}" class="property-action">Edit Property</a>

                        <a href="#" class="property-action" id="delete">Delete Property</a>
                        {% include 'properties/property_delete.html' %}
                    {% endif %}
                {% endif %}
            </div>
            </section>
{% endblock %}