<div class="overlay" id="overlay" style="display: none;"></div>

<div class="wrapper-pop-up hide" id="popupForm">
    <div class="scroll-container">
        <form method="POST" enctype="multipart/form-data" action="{% url 'property_create' %}">
            {% csrf_token %}
            <div class="row">
                <h4 id="acc">Property Details</h4>
                <label class="state">State:</label>
                <div class="input-group input-group-icon">
                    {{form.property_state}}
                    <div class="input-icon" id="state">
                        <i class="fa fa-building"></i>
                    </div>
                </div>
                <label class="type">Type:</label>
                <div class="input-group input-group-icon">
                    {{form.property_type}}
                    <div class="input-icon">
                        <i class="fa fa-home"></i>
                    </div>
                </div>

                <div id="additionalFields">

                </div>

                <div class="input-group input-group-icon">
                    {{form.price}}
                    <div class="input-icon">
                        <i class="fa fa-dollar-sign"></i>
                    </div>
                </div>
                <div class="input-group input-group-icon">
                    {{form.title}}
                    <div class="input-icon">
                        <i class="fa fa-book"></i>
                    </div>
                </div>
                <div class="input-group input-group-icon">
                    {{form.location}}
                    <div class="input-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
                <div class="input-group input-group-icon">
                    {{form.images}}
                    <div class="input-icon">
                        <i class="fa fa-image"></i>
                    </div>
                </div>

                <div class="btn-wrapper">
                    <button type="submit" class="btn">Create</button>
                    <button type="button" class="btn" onclick="closeForm()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 999;
    }

    .wrapperContainer {
        display: flex;
        width: 8%;
    }

    input[type='checkbox'] {
        margin-top: 4px;
        margin-left: 8px;
    }

    .hide {
        visibility: hidden;
    }

    .scroll-container {
        max-height: 80vh;
        overflow-y: auto;
        padding-right: 13px;
    }

    .scroll-container::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
        border-radius: 4px;
    }

    .scroll-container::-webkit-scrollbar-thumb:hover {
        background-color: #a0a0a0;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        gap: 90px;
    }

    .btn-wrapper .btn {
        color: #fff;
        background-color: #dea205;
        font-size: 18px;
        padding: 10px 70px;
    }

    .btn-wrapper .btn:hover {
        background-color: #d6ac41;
    }

    #acc {
        color: #fff;
        margin-bottom: 2rem;
        text-align: center;
    }

    input,
    input[type="radio"]+label,
    select option,
    select {
        width: 100%;
        padding: 1em;
        line-height: 1.4;
        background-color: #f9f9f9;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        -webkit-transition: 0.35s ease-in-out;
        -moz-transition: 0.35s ease-in-out;
        -o-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        margin-bottom: 35px;
    }

    input:focus {
        outline: 0;
        border-color: #dea205;
    }

    input:focus+.input-icon i {
        color: #dea205;
    }

    input:focus+.input-icon:after {
        border-right-color: #dea205;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]+label,
    select {
        display: inline-block;
        width: 50%;
        text-align: center;
        float: left;
        border-radius: 0;
    }

    input[type="radio"]+label:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    input[type="radio"]+label:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    input[type="radio"]+label i {
        padding-right: 0.4em;
    }

    input[type="checkbox"]+label {
        position: relative;
        display: block;
        padding-left: 1.6em;
    }

    select {
        height: 3.4em;
        line-height: 2;
        width: 100%;
    }

    select:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    select:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    select:focus {
        outline: 0;
        border-color: #dea205;
    }

    select:focus+.input-icon i {
        color: #dea205;
    }

    select:focus+.input-icon i:after {
        border-right-color: #dea205;
    }

    select:focus,
    select:active {
        outline: 0;
    }

    select option {
        background-color: #202528;
        color: #fff;
    }

    .input-group {
        zoom: 1;
    }

    .input-group:before,
    .input-group:after {
        content: "";
        display: table;
    }

    .input-group:after {
        clear: both;
    }

    .input-group-icon {
        position: relative;
    }

    .input-group-icon input {
        padding-left: 4.4em;
    }

    .input-group-icon .input-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 3.4em;
        height: 3.4em;
        line-height: 3.4em;
        text-align: center;
        pointer-events: none;
    }

    .input-group-icon .input-icon:after {
        position: absolute;
        top: 0.6em;
        bottom: 0.6em;
        left: 3.4em;
        display: block;
        border-right: 1px solid #e5e5e5;
        content: "";
        -webkit-transition: 0.35s ease-in-out;
        -moz-transition: 0.35s ease-in-out;
        -o-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    .input-group-icon .input-icon i {
        -webkit-transition: 0.35s ease-in-out;
        -moz-transition: 0.35s ease-in-out;
        -o-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    .wrapper-pop-up {
        max-width: 38em;
        padding: 1em 3em 2em 3em;
        margin: 0em auto;
        background-color: #202528;
        border-radius: 4.2px;
        box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 50%;
        left: 50%;
        transition: opacity 0.3s ease, transform 0.3s ease;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
        z-index: 1000;
    }

    .wrapper-pop-up.active {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    .row {
        zoom: 1;
    }

    .row:before,
    .row:after {
        content: "";
        display: table;
    }

    .row:after {
        clear: both;
    }

    .col-half {
        padding-right: 10px;
        float: left;
        width: 50%;
    }

    .col-half:last-of-type {
        padding-right: 0;
    }

    .col-third {
        padding-right: 10px;
        float: left;
        width: 33.33333333%;
    }

    .col-third:last-of-type {
        padding-right: 0;
    }

    @media only screen and (max-width: 1024px) {
        .wrapper-pop-up {
            max-width: 80%;
        }
    }

    @media only screen and (max-width: 610px) {
        .btn-wrapper {
            flex-direction: column;
            gap: 20px;
        }

        .btn-wrapper .btn {
            width: 100%;
        }

        .input-group,
        select {
            width: 100%;
        }
    }

    @media only screen and (max-width: 540px) {
        .col-half {
            width: 100%;
            padding-right: 0;
        }
    }
</style>

<script>
    function toggleForm() {
        const form = document.getElementById("popupForm");
        const overlay = document.getElementById("overlay");
        if (form.classList.contains("active")) {
            form.classList.remove("active");
            overlay.style.display = "none";
        } else {
            form.classList.remove("hide");
            form.classList.add("active");
            overlay.style.display = "block";
        }
    }

    function closeForm() {
        const form = document.getElementById("popupForm");
        const overlay = document.getElementById("overlay");
        form.classList.remove("active");
        form.classList.add("hide");
        overlay.style.display = "none";
    }
</script>

<script>
    async function fetchAdditionalFormFields(propertyType) {
        try {
            const url = '{% url "additional_form_fields" %}?property_type=' + propertyType;
            const response = await fetch(url);
            const data = await response.json();

            const additionalFieldsDiv = document.getElementById('additionalFields');
            additionalFieldsDiv.innerHTML = data.html

            const checkboxInputs = additionalFieldsDiv.querySelectorAll('input[type="checkbox"]');
            const wrapperContainer = document.createElement('div');
            wrapperContainer.classList.add('wrapperContainer');

            function capitalizeWords(str) {
                const excludedWords = ["Has", "has", "is", "Is"];
                return str
                    .replace(/\w\S*/g, function(txt) {
                        const firstChar = txt.charAt(0).toUpperCase();
                        const restChars = txt.substr(1).toLowerCase();
                        return firstChar + restChars;
                    })
                    .split(" ")
                    .filter(word => !excludedWords.includes(word))
                    .join(" ");
            }

            checkboxInputs.forEach(input => {
                const label = document.createElement('label');
                label.textContent = capitalizeWords(input.name.replace(/_/g, ' '));

                wrapperContainer.appendChild(label);
                wrapperContainer.appendChild(input);
            })

            additionalFieldsDiv.appendChild(wrapperContainer);
        } catch (error) {
            console.error('Error:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const propertyTypeSelect = document.querySelector('select[name="property_type"]');
        propertyTypeSelect.addEventListener('change', function () {
            const selectedPropertyType = propertyTypeSelect.value;
            if (selectedPropertyType) {
                fetchAdditionalFormFields(selectedPropertyType)
            }
        })
    })
</script>