{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
    {% if saved_properties %}
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">Saved Properties Collection</h1>
        </div>

        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                        {% for saved_property in saved_properties %}
                            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="property-item rounded overflow-hidden">
                                    <div class="position-relative overflow-hidden">
                                        <a href="{% url 'property_details' saved_property.property.pk %}"><img class="img-fluid" src="{% static 'images/property-1.jpg' %}" alt="property image"></a>
                                        <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                            {{ saved_property.property.property_state }}
                                        </div>
                                        <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                                            {{ saved_property.property.property_type }}
                                        </div>
                                    </div>
                                    <div class="p-4 pb-0">
                                        <h5 class="text-primary mb-3">$ {{ saved_property.property.price }}</h5>
                                        <a class="d-block h5 mb-2" href="{% url 'property_details' saved_property.property.pk %}">{{ saved_property.property.title }}</a>
                                        {% include 'properties/saved_property_icon.html' %}
                                        <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ saved_property.property.location }}</p>
                                    
                                    </div>
                                    <div class="d-flex border-top">
                                        {% if saved_property.property.property_type == 'Apartment' or saved_property.property.property_type == 'Villa' %}
                                            {% if saved_property.property.apartment %}
                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ saved_property.property.apartment.area_sqft }} Sqft</small>
                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ saved_property.property.apartment.num_bedrooms }} Beds</small>
                                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ saved_property.property.apartment.num_bathrooms }} Baths</small>
                                            {% elif saved_property.property.villa %}
                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ saved_property.property.villa.area_sqft }} Sqft</small>
                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>{{ saved_property.property.villa.num_bedrooms }} Beds</small>
                                                <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>{{ saved_property.property.villa.num_bathrooms }} Baths</small>
                                            {% endif %}
                                        {% elif saved_property.property.property_type == 'Office' %}
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ saved_property.property.office.area_sqft }} Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-home text-primary me-2"></i>{{ saved_property.property.office.num_rooms }} Rooms</small>
                                            <small class="flex-fill text-center py-2"><i class="fa fa-building text-primary me-2"></i>{{ saved_property.property.office.floor_number }} Floor Number</small>
                                        {% elif saved_property.property.property_type == 'Shop' %}
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ saved_property.property.shop.area_sqft }} Sqft</small>
                                            {% if saved_property.property.shop.has_ac %}
                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-snowflake text-primary me-2"></i>A/C</small>
                                            {% else %}
                                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-snowflake text-primary me-2"></i>No A/C</small>
                                            {% endif %}
                                            {% if saved_property.property.shop.has_cctv %}
                                                <small class="flex-fill text-center py-2"><i class="fa fa-eye text-primary me-2"></i>CCTV</small>
                                            {% else %}
                                                <small class="flex-fill text-center py-2"><i class="fa fa-eye text-primary me-2"></i>No CCTV</small>
                                            {% endif %}
                                        {% elif saved_property.property.property_type == 'Building' %}
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ saved_property.property.building.total_area_sqft }} Sqft</small>
                                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-building text-primary me-2"></i>{{ saved_property.property.building.num_floors }} Floors</small>
                                            {% if saved_property.property.building.has_parking %}
                                                <small class="flex-fill text-center py-2"><i class="fa fa-car text-primary me-2"></i>Parking</small>
                                            {% else %}
                                                <small class="flex-fill text-center py-2"><i class="fa fa-car text-primary me-2"></i>No Parking</small>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>

        {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}
            <span class="current-page">{{ page_obj.number }} / {{ paginator.num_pages }}</span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        {% endif %}
    {% else %}
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">Your Collection Is Empty</h1>
        </div>
        <br>
        <br>    
        <br>    
        <br>    
        <br>          
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3" style="color: #202528;">You haven't saved any properties. 
                Add your favourite offers and they will appear here.</h1>
        </div>
    {% endif %}
{% endblock %}