.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottom-footer {
  display: none;
}
.body-opacity::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
} 
.popup {
  width: 800px;
  height: 320px;
  padding: 30px 20px;
  background: #202528;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out,
    transform 1000ms ease-in-out;
}
.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.popup img {
  margin: 5px 0px;
  width: 60px;
  height: 60px;
  border: 2px solid orangered;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}
.popup .icon img {
  width: 90px;
}
.popup .title {
  margin: 5px 0px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.popup .description {
  color: #fff;
  font-size: 20px;
  padding: 5px;
}
.popup .btns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.popup .btns a {
  padding: 10px 20px;
  background-color: #dea205;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.popup .btns a:hover {
  background: #efc24f;
}
.popup > div {
  position: relative;
  top: 10px;
  opacity: 0;
}
.popup.active > div {
  top: 0px;
  opacity: 1;
}
.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}
.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}
.popup.active .btns {
  transition: all 300ms ease-in-out 400ms;
}
.popup.active .btns button {
  all: unset;
  padding: 10px 20px;
  background-color: #dea205;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.popup.active .btns button:hover {
  background: #efc24f;
}

@media screen and (max-width: 824px) {
  .popup {
    width: 500px;
    height: 350px;
    padding: 30px 20px;
  }
}

@media screen and (max-width: 532px) {
  .popup {
    width: 300px;
    height: 260px;
    padding: 30px 20px;
  }

  .popup img {
    width: 45px;
    height: 45px;
  }

  .popup .title {
    font-size: 20px;
  }

  .popup .description {
    font-size: 10px;
  }

  .popup .btns a {
    padding: 5px 10px;
    font-size: 12px;
  }
}
