{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
<section class="py-5 my-5">
	<div class="container">
		<h1 class="mb-5">Profile Details</h1>

		<div class="bg-white shadow rounded-lg d-block d-sm-flex">
			<div class="profile-tab-nav border-right">
				<div class="p-4">
					<div class="img-circle text-center mb-3">
						{% if not profile_image %}
						<img src="{% static 'images/default_pic.png' %}" alt="Image" class="shadow">
						{% else %}
						<a href="{{user_profile.profile_image.url}}">
							<img class="profile-pic" src="{{ user_profile.profile_image.url }}" alt="Image"
								class="shadow" style="object-fit: cover;">
						</a>
						{% endif %}
					</div>
					<h4 class="text-center">{{user_profile}}</h4>
				</div>
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
						aria-controls="account" aria-selected="true">
						<i class="fa fa-home text-center mr-1"></i>
						Account
					</a>
					<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab"
						aria-controls="password" aria-selected="false">
						<i class="fa fa-key text-center mr-1"></i>
						Password
					</a>
				</div>
			</div>
			<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
					<h3 class="mb-4">Account Settings</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="first_name">First Name</label>
								{% if not first_name %}
								<input disabled id="first_name" type="text" class="form-control" value="">
								{% else %}
								<input disabled id="first_name" type="text" class="form-control" value="{{first_name}}">
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="last_name">Last Name</label>
								{% if not last_name %}
								<input disabled id="last_name" type="text" class="form-control" value="">
								{% else %}
								<input disabled id="last_name" type="text" class="form-control" value="{{last_name}}">
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="email">Email</label>
								{% if not email %}
								<input disabled id="email" type="text" class="form-control" value="">
								{% else %}
								<input disabled id="email" type="text" class="form-control" value="{{ email }}">
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="birth_date">Birth Date</label>
								{% if not birth_date %}
								<input disabled id="birth_date" name="birth_date" type="text" class="form-control"
									value="">
								{% else %}
								<input disabled id="birth_date" name="birth_date" type="text" class="form-control"
									value="{{birth_date}}">
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="gender">Gender</label>

								<select class="form-control" name="gender" id="gender">
									{% if not gender %}
									<option value="">----------</option>
									{% else %}
									<option value="">{{gender}}</option>
									{% endif %}
								</select>

							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="country">Country</label>
								<select class="form-control" name="countries" id="country">
									{% if not country %}
									<option value="">----------</option>
									{% else %}
									<option value="">{{country}}</option>
									{% endif %}
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Phone</label>
								{% if not phone %}
								<input disabled id="phone" type="text" class="form-control" value="">
								{% else %}
								<input disabled id="phone" type="text" class="form-control" value="{{ phone }}">
								{% endif %}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="phone">Profile Image</label>
								{% if not profile_image %}
								<input disabled id="profile_image" type="text" class="form-control"
									value="Not Provided">
								{% else %}
								<input disabled id="profile_image" type="text" class="form-control"
									value="{{ profile_image }}">
								{% endif %}
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="bio">Bio <span style="font-size: 14px; color: grey;">(short introduction
										about yourself)</span></label>
								{% if not bio %}
								<textarea disabled id="bio" class="form-control" rows="4"></textarea>
								{% else %}
								<textarea disabled id="bio" class="form-control" rows="4">{{bio}}</textarea>
								{% endif %}
							</div>
						</div>
					</div>
					<div style="display: flex; gap: 10px;">
						<a href="{% url 'update_profile' %}" class="btn btn-primary">Update my profile</a>
						<a href="{% url 'delete_profile' %}" class="btn btn-primary delete">Delete my profile</a>
					</div>
				</div>
				<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
					<h3 class="mb-4">Password Settings</h3>
					<br>
					<h5 class="mb-4">Follow this simple steps to change your password.</h5>
					<ul class="food-steps-list list-unstyled fw-bold fs-5">
						<li>
							Step 1: Submit email form
						</li>
						<li>
							Step 2: Check your email
						</li>
						<li>
							Step 3: Click the link
						</li>
						<li>

							Step 4: You are good to go!
						</li>
					</ul>
					<div>
						<a href="{% url 'reset_password' %}" class="btn btn-primary">Change my password</a>
					</div>
				</div>
			</div>
</section>
{% endblock %}