{% extends 'base_hero_page/base.html' %}
{% load static %}

{% block main_content %}
<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
    <form method="POST" enctype="multipart/form-data" action="" class="tab-pane fade show active" id="account" role="tabpanel"
        aria-labelledby="account-tab">
        <h3 class="mb-4">Update Profile</h3>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    {{form.last_name}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    {{form.email}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="birth_date">Birth Date</label>
                    {{form.birth_date}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="gender">Gender</label>

                    <select class="form-control" name="gender" id="gender">
                        {% if not gender %}
                        <option value="">----------</option>
                        {% endif %}
                        {% for choice_value, choice_label in gender_choices %}
                        <option value="{{choice_value}}">
                            {% if choice_value == gender %}{% endif %}
                            {{ choice_label }}
                        </option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="country">Country</label>
                    <select class="form-control" name="country" id="country">
                        {% if not country %}
                            <option value="">----------</option>
                        {% else %}
                            <option value="">{{country}}</option>
                        {% endif %}
                        {% for country in countries %}
                            <option value="{{country.name}}">
                                {% if country.alpha2Code == user_profile.country %}selected{% endif %}
                                {{country.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">Phone</label>
                    {{form.phone}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="profile_image">Profile Image</label>
                    {{form.profile_image}}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="bio">Bio <span style="font-size: 14px; color: grey;">(short introduction about
                            yourself)</span></label>
                    {{form.bio}}
                </div>
            </div>
        </div>
        <div>
            {% for field, error in form.errors.items %}
            <div class="alert alert-danger">
                <strong>Error:</strong>
                {{ error|striptags }}
            </div>
            {% endfor %}

            <a class="btn btn-primary" id="update_btn">Update</a>
            <a href="{% url 'profile_details' %}" class="btn btn-light">Cancel</a>
        </div>

        {% include 'profiles/profile_pop_up_message.html' %}
    </form>
</div>
{% endblock %}